* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/bg.png);
  color: #777;
}
h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px 0px;
  font-weight: 600;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
p {
  line-height: 1.5;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -4em;
}
.container {
  width: 960px;
  margin: auto;
}
.clear {
  clear: both;
}

/* Header */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}
#logo {
  background-color: #48aaef;
  color: #fff;
  text-align: center;
  width:30%;
  padding: 10px 0px;
  float: left;
}

/* Navigation */
nav {
  float: right;
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding: 0px 15px;
  margin: 36px 0px;
  border-right: 1px solid #dcdcdc;
}
nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}
nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size:18px;
}
nav ul li a:hover {
  color: #666;
  text-decoration: underline;
}

/* Content Area */
main {
  padding: 30px 0px;
  min-height: 100%;
  height: auto;
  margin-bottom: -100px;
}
section {
  width: 620px;
  float: left;
}
#about_pic {
  float: left;
  margin-right: 10px;
}
aside {
  width: 205px;
  float: right;
}
aside img {
  width: 30%;
  height: auto;
}
.white-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 25px;
}
.white-box h2, .white-box h3 {
  color: #48aaef;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.white-box h2 {
  border-bottom: 2px solid #ccc;
}
.white-box h3 {
  border-bottom: 1px solid #ccc;
}
.push {
  height: 100px;
}

/* Forms */
label {
  font-size: 18px;
}
input[type="text"], textarea {
  width: 100%;
  color: #777;
  padding: 10px 0px 10px 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  font-size: 14px;
}
input[type="text"]:focus, textarea:focus {
  outline: none !important;
  box-shadow: 0 0 5px #48aaef;
}
input[type="submit"] {
  color: #fff;
  background-color: #48aaef;
  padding: 10px 30px;
  font-size: 18px;
  border: 3px solid rgba(0,0,0,0);
}
input[type="submit"]:hover {
  border: 3px solid #70c4ff;
}

/* Portfolio */
.portfolio-item {
  position: relative;
  margin-bottom: 20px;
}
.portfolio-item:nth-child(even) {
  float: left;
}
.portfolio-item:nth-child(odd) {
  float: right;
}
.portfolio-item img {
  transition: opacity 0.8s ease;
}
.portfolio-caption {
  width: 100%;
  color: #fff;
  font-size: 22px;
  background-color: rgba(72, 170, 239, 0.9);
  transition: background-color 0.8s ease;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  padding: 15px 0px;
  position: absolute;
  top: 165px;
}
.portfolio-item:hover .portfolio-caption {
  background-color: #1a4b6d;
}
.portfolio-item:hover img {
  opacity: 0.7;
}

/* Footer */
footer {
  width: 100%;
  background-color: #282828;
  border-top: 7px solid #48aaef;
  text-align:center;
  color: #ccc;
  padding: 40px 0px;
  font-size: 12px;
}
